.Small-Banner .txt
{
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
}
.Small-Banner .txt-a
{
    margin-top: 2%;
    margin-left: 50%;
}
.Small-Banner .txt-a a
{
    padding: 7px 19px;
    color: #181a1f;
    font-size: 15px;
    background: transparent;
    border:3px solid #181a1f;
    text-decoration: none;

}
.Small-Banner .txt-a a:hover
{
    color: #fff;
    background-color: #181a1f;
}
.Small-Banner .txt-h4
{
    margin-top: 1%;
}
.Small-Banner .txt-h4 h4
{
    font-size: 18px;
    margin-left: 50%;
}
.Small-Banner .txt-h3
{
    margin-top: 1%;
}
.Small-Banner .txt-h3 h3
{
    font-size: 24px;
    margin-left: 50%;
}

.Small-Banner .txt-h2 h2
{
    font-size: 33px;
    color: #fff;
    margin-left: 50%;
    margin-top: 2%;
}

@media screen and (min-width:992px )
{
    .Small-Banner .txt-h4 h4
{
    font-size: 30px;
}
.Small-Banner .txt-h3 h3
{
    font-size: 66px;
}

.Small-Banner .txt-h2 h2
{
    font-size: 100px;

}
}