.Categories .txt
{
    margin: 30px 0;
    font-size: 26px;
}
.Categories a
{
    text-decoration: none;
    
}
.Categories .card-body .btn-products
{
    border: 2px solid #000;
    color: #000;
    
}
.Categories .card  img
{
    opacity: .5;
}
.Categories .card-body .btn-products:hover
{
    background-color: #000;
    color: #fff;
}
.Categories .card-body
{
    padding-top: 20px;
    padding-bottom: 65px;
}
.Categories .card-body h5
{
    color: #000;
}

.Categories .card:hover
{
    background: #feede9;
}
.Categories .card-body:hover{
    border-top: #000 solid;
} 
/* .Categories .card-body ::before 
{
    content: '';
    height:  3px;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 40%;
    left: 40%;
} */

@media screen and (min-width:992px)
{
    .Categories .txt
{
    font-size: 40px;
    
}
}