.Categories .txt
{
    margin: 30px 0;
    font-size: 26px;
}

.Categories a
{
    border: 2px solid #000;
    color: #000;
}
.Categories a:hover
{
    background-color: #000;
    color: #fff;
}
@media screen and (min-width:992px)
{
    .Categories .txt
{
    font-size: 40px;
    
}
}